# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Documentation
*.md

# Test files
/tmp/
temp/
*.xlsx
*.xls

# Docker
Dockerfile
.dockerignore
docker-compose.yml

artifacts
in.json
runtime.txt
README.md
assessment_client.egg-info
__pycache__
tests
