### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# VS Code Python hidden venv
.venv/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.xls
temp/
tempfile/

# Distribution / packaging
dist/
build/
*.egg-info/

in.json

artifacts/
