version: "3.9"

services:
  app:
    container_name: assessment_client
    build:
      context: .
      dockerfile: Dockerfile
    command: streamlit run src/assessment_client/app.py --server.port=8501 --server.address=0.0.0.0
    working_dir: /app
    ports:
      - "8501:8501"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./:/app
    restart: unless-stopped

